<div id="keyboard" class="keyboard">
    <div id="key-c0" class="key white c"><div id="marker-c0" class="marker @MarkerClasses[Intonation.C]"></div></div>
    <div id="key-cs0" class="key black cs"><div id="marker-cs0" class="marker @MarkerClasses[Intonation.CsDb]"></div></div>
    <div id="key-d0" class="key white d"><div id="marker-d0" class="marker @MarkerClasses[Intonation.D]"></div></div>
    <div id="key-ds0" class="key black ds"><div id="marker-ds0" class="marker @MarkerClasses[Intonation.DsEb]"></div></div>
    <div id="key-e0" class="key white e"><div id="marker-e0" class="marker @MarkerClasses[Intonation.E]"></div></div>
    <div id="key-f0" class="key white f"><div id="marker-f0" class="marker @MarkerClasses[Intonation.F]"></div></div>
    <div id="key-fs0" class="key black fs"><div id="marker-fs0" class="marker @MarkerClasses[Intonation.FsGb]"></div></div>
    <div id="key-g0" class="key white g"><div id="marker-g0" class="marker @MarkerClasses[Intonation.G]"></div></div>
    <div id="key-gs0" class="key black gs"><div id="marker-gs0" class="marker @MarkerClasses[Intonation.GsAb]"></div></div>
    <div id="key-a0" class="key white a"><div id="marker-a0" class="marker @MarkerClasses[Intonation.A]"></div></div>
    <div id="key-as0" class="key black as"><div id="marker-as0" class="marker @MarkerClasses[Intonation.AsBb]"></div></div>
    <div id="key-b0" class="key white b"><div id="marker-b0" class="marker @MarkerClasses[Intonation.B]"></div></div>

    <div id="key-c1" class="key white c"><div id="marker-c1" class="marker @MarkerClasses[Intonation.C]"></div></div>
    <div id="key-cs1" class="key black cs"><div id="marker-cs1" class="marker @MarkerClasses[Intonation.CsDb]"></div></div>
    <div id="key-d1" class="key white d"><div id="marker-d1" class="marker @MarkerClasses[Intonation.D]"></div></div>
    <div id="key-ds1" class="key black ds"><div id="marker-ds1" class="marker @MarkerClasses[Intonation.DsEb]"></div></div>
    <div id="key-e1" class="key white e"><div id="marker-e1" class="marker @MarkerClasses[Intonation.E]"></div></div>
    <div id="key-f1" class="key white f"><div id="marker-f1" class="marker @MarkerClasses[Intonation.F]"></div></div>
    <div id="key-fs1" class="key black fs"><div id="marker-fs1" class="marker @MarkerClasses[Intonation.FsGb]"></div></div>
    <div id="key-g1" class="key white g"><div id="marker-g1" class="marker @MarkerClasses[Intonation.G]"></div></div>
    <div id="key-gs1" class="key black gs"><div id="marker-gs1" class="marker @MarkerClasses[Intonation.GsAb]"></div></div>
    <div id="key-a1" class="key white a"><div id="marker-a1" class="marker @MarkerClasses[Intonation.A]"></div></div>
    <div id="key-as1" class="key black as"><div id="marker-as1" class="marker @MarkerClasses[Intonation.AsBb]"></div></div>
    <div id="key-b1" class="key white b"><div id="marker-b1" class="marker @MarkerClasses[Intonation.B]"></div></div>
</div>
